@model MasVeterinarias.UI.Models.Cita

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutUser";
}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Cita
        <small></small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Cita</a>
        </li>
        <li class="breadcrumb-item active">Agendar</li>
    </ol>

    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-lg-8 mb-4">
                
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label asp-for="NombreMascota" class="control-label"></label>
                            <input asp-for="NombreMascota" class="form-control" />
                            <span asp-validation-for="NombreMascota" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label asp-for="Hora" class="control-label"></label>
                            <input asp-for="Hora" class="form-control" />
                            <span asp-validation-for="Hora" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label asp-for="Fecha" class="control-label"></label>
                            <input asp-for="Fecha" class="form-control" />
                            <span asp-validation-for="Fecha" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label asp-for="ServicioId" class="control-label">Servicio</label>
                            <input asp-for="ServicioId" class="form-control" />
                            <span asp-validation-for="ServicioId" class="text-danger"></span>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <input type="submit" value="Create" class="btn btn-primary" />
                </form>
            </div>

        </div>

    }

    <!-- /.row -->

</div>