@model MasVeterinarias.UI.Models.Cliente

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutRegister";
}

<div class="signup-form">
    @using (Html.BeginForm())
    {
    <form action="/examples/actions/confirmation.php" method="post">
        <h2>Resgistrate</h2>
        <p class="hint-text">Create your account. It's free and only takes a minute.</p>
        <div class="form-group">
            <div class="row">
                <div class="col"><input asp-for="Nombre" type="text" class="form-control" name="Nombre" placeholder="Nombre" required="required"><span asp-validation-for="Nombre" class="text-danger"></span></div>
                <div class="col"><input asp-for="Apellido" type="text" class="form-control" name="Apellido" placeholder="Apellidos" required="required"><span asp-validation-for="Apellido" class="text-danger"></span></div>
            </div>
        </div>
        <div class="form-group">
            <input asp-for="Email" class="form-control" type="email" name="Email" placeholder="Email" required="required" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Password" class="form-control" type="password" name="password" placeholder="Password" required="required" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Direccion" type="text" class="form-control" name="Direccion" placeholder="Direccion" required="required">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Telefono" type="text" class="form-control" name="Telefono" placeholder="Telefono" required="required">
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Registrarse</button>
        </div>
        <div class="text-center">¿Ya tienes cuenta? <a asp-controller="Login" asp-action="Index"> Inicia sesión</a></div>
    </form>
        
    }

</div>
