<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - MasVeterinarias.UI</title>
    <meta charset="iso-8859-1">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/css/ie6.css" rel="stylesheet" type="text/css">
    <link href="~/css/ie7.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="header">
        <a href="#" id="logo"><img src="~/images/logo.jpg" width="310" height="114" alt=""></a>
        <ul class="navigation">
            <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
            <li><a href="petmart.html">Registrate</a></li>
            <li><a href="about.html">Ingresa</a></li>
            <li><a href="contact.html">¡Anunciate!</a></li>
        </ul>

    </div>
    
    @RenderBody()

    <div id="footer">

        <div id="footnote">
            <div class="section">Copyright &copy; 2020 <a href="#">MasVeterinarias</a> Todos los derechos reservados | Website <a target="_blank" href="http://www.MasVeterinarias.com/">MasVeterinarias.com</a></div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
